fastapi
uvicorn
sqlalchemy
psycopg2-binary
redis
openai
python-multipart
requests
python-dotenv
aiofiles
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
aiohttp
asyncpg
jinja2
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
reportlab
mercadopago
segno
pypng
alembic
